.history-main-container {
  width: 328px;
  height: 264px;
  left: 16px;
  top: 575px;

  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(139, 164, 187, 0.12);
  border-radius: 16px;

  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 64px;

  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}

.history-main-container-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */

  letter-spacing: -0.0241176em;

  /* 141414 */

  color: #141414;

  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 18px;
}

.history-container {
  overflow: auto;
  margin: 0 auto;
  height: 80%;
  scroll-margin-bottom: 50px;
  box-sizing: border-box;
}
